{
  // Configuration for JavaScript files
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["tailwindcss", "simple-import-sort"],
      "extends": [
        "plugin:tailwindcss/recommended",
        "airbnb",
        "airbnb-typescript",
        "prettier/react"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "no-console": "off",
        "react/no-array-index-key": "off",
        "react/no-danger": "off"
      }
    },
    {
      "files": ["**/*.js"],
      "extends": ["airbnb-base", "prettier/react"]
    }
  ]
}
